  *{
     margin: 0; padding: 0;
     /*outline: 1px #FFF dotted;*/
   }

 html,body{height: 100%; color: #FFF;}

 #container{background-color: #000; width: 100%; min-height: 100%; float: left;}

 ul{list-style:none;}

 a{text-decoration: none;}

 a,#purchase li:hover,#purchase li:hover a,.btn,.play_btn,.download_btn,#plus,.fa-volume-up,input[type=range],input[type=submit],#fap-cover-replacement{cursor: pointer;}

 .yel{color: #fcbe46; text-align: center;}

 .fix{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
 }

/******************************************************************************/

   .gnb_wrap{
     width: 100%;
     height: 95px;
     background-color: #000;
     z-index: 101;
     float: left;
   }
   #gnb{
     max-width: 99.3em;
     /*width: 1280px;*/
     margin: 0 auto;
   }
   #gnb img{
     float: left;
     margin-top: 20px;
     margin-left: 15px;
   }
   #gnb ul{
     float: right;
     padding-right: 15px;
   }
   #gnb li{
     float: left;
     padding: 0 20px;
   }
   #gnb li:nth-child(3){text-transform: uppercase;}
   #gnb li:last-child{ margin-right: 0; text-transform: lowercase;}

   #gnb > li > a:visited {color: #fcbe46;}

   #gnb> li > a:link {color: #fcbe46;}

   #gnb a{color: #fcbe46; outline: 0;}
   #gnb a:hover{color: #5a5a5a;}

/******************************************************************************/

  #content{
    max-width: 80.625em;
    /*width: 65%;*/
    /*width: 1280px;*/
    margin: 0 auto;
    padding-top: 95px;
  }

/******************************************************************************/

  #icon_group{
    padding-top: 100px;
    padding-bottom: 70px;
    width: 208px; height: 100%;
    margin: auto;
  }

/******************************************************************************/



 #player_wrap{
   width: 100%;
   max-width: 100%;
   height: 170px;
   /*bottom: -100px;*/
   bottom: -171px;

   background: rgb(252, 190, 70);
   border-color: rgb(252, 190, 70);

   position: fixed;
   z-index: 10000;
   font-family: Helvetica, sans-serif;
 }
 #player_wrap *{color: #000;}

 #player{
   max-width: 80.625em;
   /*width: 960px;*/
   height: 100%;
   margin: 0 auto;
   padding-top: 5px;
   line-height: 12px;
   font-size: 14px;
 }

 #plus{
   background: rgb(252, 190, 70);
   border-bottom: none;
   border: 1px solid rgb(252, 190, 70);

   font-size: 10px;
   display: inline-block;

   position: relative;
   top: -24px;
   left:  -7.6%;;

   height: 16px;
   padding: 1px 7px 0;
   text-align: center;
 }
 #player .left{
   width: 70%;
   height: 60px;
   float: left;
 }
 #fap-cover-wrapper{
   float: left;
 }
 #fap-cover-replacement{
   width: 50px;
   height: 50px;
   border: 1px solid #000;
   text-align: center;
   font-size: 18px;
 }
 #fap-cover-replacement>span{
   line-height: 50px;
   color: #bc861e;
 }






 #player .right{
   width: 30%;
   height: 70px;
   float: right;
 }

 #player-control{
   width: 85%; height: 100%;
   float: left;
   position: relative;
 }
 #player-control a{
   position: absolute;
 }
 .fa.fa-backward,.fa.fa-forward {
   top: 14px;
 }
 .fa.fa-play,.fa.fa-pause,.fa.fa-stop{
   font-size: 34px;
   left:24px;
   top: 2px;
 }
 .fa.fa-forward{
   left: 60px;
 }



 #volume_box{
   width: 72px; height: 9px;
   position: relative;
   top: 20px;
   left: 172px;
 }
 input[type=range] {
     -webkit-appearance: none;
     width: 50px;
     height: 6px;
     background: #000;
     float: left;
     border: 1px solid #bc861e;
     position: absolute;
 }
 input[type=range]:focus {
  outline: none;
}
 input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
     background-color: #bc861e;
     width: 10px;
     height: 6px;
     opacity: .7;
 }

 /*.fap-volume-bar{
   width: 50px;
   height: 6px;
   background: #000;
   float: left;
   border: 1px solid #bc861e;
   position: absolute;
 }*/
 .fap-volume-sign{
   width: 14px; height: 12px;
   float: right;
   margin-top: -3px;
   margin-left: 5px;
   position: relative;
 }


 #fap-time-bar{
   height: 6px;
   font-size: 10px;
   position: relative;
   bottom: -33px;
   border: 1px solid #bc861e;
   color: #bc861e;
 }
 .fap-loading-bar{
   background: rgb(188, 134, 30);
   height: 6px;
   position: absolute;
   top: 0;
   left: 0;
   max-width: 100%;
 }
 #fap-time-bar span{
   margin-top: 8px;
   color: #bc861e;
 }
 #fap-current-time{
   float: left;
 }
 #fap-total-time{
   float: right;
 }




 #control{
   float: right;
 }
 #control a{
   font-size: 16px;
   display: block;
   margin-bottom: 8px;
   text-align: center;
 }
